<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SmartBopomofo</string>
	<key>CFBundleIdentifier</key>
	<string>com.yen.inputmethod.SmartBopomofo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SmartBopomofo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SBPM</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>InputMethodConnectionName</key>
	<string>com.yen.inputmethod.SmartBopomofo_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SmartBopomofoInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SmartBopomofoInputController</string>
	<key>TISInputSourceID</key>
	<string>com.yen.inputmethod.SmartBopomofo</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>tsInputMethodIconFileKey</key>
	<string>Bopomofo.tiff</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Han</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.yen.inputmethod.SmartBopomofo.Bopomofo</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.yen.inputmethod.SmartBopomofo.Bopomofo</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.yen.inputmethod.SmartBopomofo.Bopomofo</string>
		</array>
	</dict>
</dict>
</plist>
